{% extends "base_generic.html" %}

{% block content %}
  <h1>Author: {{ author }}</h1>

    <p>{{ author.get_alive_dates }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>

    {% for book in author.book_set.all %}
    <hr>
    <strong><p><a href="{{ book.get_absolute_url }}"> {{ book.title }} </a> ({{ book.bookinstance_set.count }})</p></strong>
    <p>{{ book.summary }}</p>
    {% endfor %}
  </div>

  <a href="{% url 'author-update' author.pk %}">Update author information</a>
  <a href="{% url 'author-delete' author.pk %}">Delete author</a>
{% endblock %}